In [36]:
import pymysql
import sqlalchemy as alch #Â python -m pip install --upgrade 'sqlalchemy<2.0'
import pandas as pd
import os
from dotenv import load_dotenv
load_dotenv()

True

In [41]:
password = os.getenv('Password')
password

'Password'

In [25]:
dbName = "Happiness"

In [26]:
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [27]:
engine = alch.create_engine(connectionData)

# Correlations

First, I am going to run a query to load all of the data into a dataframe in order to explore the coorelations between the factors.

In [28]:
query = """
SELECT *
FROM report
WHERE year BETWEEN 2017 AND 2021;
"""

df = pd.read_sql_query(query, engine)
corr = df.corr()
df_corr = corr

df_corr

OperationalError: (pymysql.err.OperationalError) (1045, "Access denied for user 'root'@'localhost' (using password: YES)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

Next i will highlight cells based on the strength and direction of the correlation

In [ ]:
def highlight_cells(val):
    color = 'grey' if val == 1.000000 else 'green' if val > 0.4 else 'lightgreen' if val > 0.1  and val <= 0.4 else 'red' if val < -0.4 else 'lightcoral' if val < -0.1 and val >= -0.4 else ''
    return f'background-color: {color}'

df_corr = df_corr.style.applymap(highlight_cells)

AttributeError: 'Styler' object has no attribute 'style'

In [11]:
#This is my correlation heat map
df_corr

# More SQL Queries

Next I will run SQL queries to determine the most and least generous countries

In [10]:
#Which countries have the highest and lowest generosity scores?

query = """
SELECT country_name, `Generosity`, 
FROM report
WHERE year = 2021
ORDER BY `Generosity` DESC
LIMIT 10;
"""

df_highest = pd.read_sql_query(query, engine)
print('Countries with highest generosity scores:')
print(df_highest)

query = """
SELECT country_name, `Generosity`
FROM report
WHERE year = 2021
ORDER BY `Generosity` ASC
LIMIT 10;
"""

df_lowest = pd.read_sql_query(query, engine)
print('\nCountries with lowest generosity scores:')
print(df_lowest)

Countries with highest generosity scores:
             country_name  Generosity
0               Indonesia    0.545828
1                 Myanmar    0.514833
2                   Kenya    0.322459
3                Thailand    0.293198
4  Bosnia and Herzegovina    0.281281
5             Netherlands    0.269324
6                  Serbia    0.266932
7                 Iceland    0.258855
8          United Kingdom    0.254903
9               Australia    0.237518

Countries with lowest generosity scores:
  country_name  Generosity
0      Georgia   -0.285531
1        Egypt   -0.227793
2        Japan   -0.209871
3     Portugal   -0.207049
4        Gabon   -0.204959
5      Tunisia   -0.201642
6      Romania   -0.182472
7       Greece   -0.155178
8      Armenia   -0.150132
9       Jordan   -0.149056

Next I will run SQL queries to determine which countries had the highest average life ladder score in the past 5 years and which had the lowest

In [127]:
#What are the 10 countries with the highest average life ladder score in the past 5 years?
query = """
SELECT country_name, AVG(`Life Ladder`) AS avg_lifeladder
FROM report
WHERE year BETWEEN 2017 AND 2021
GROUP BY country_name
ORDER BY avg_lifeladder DESC
LIMIT 10;
"""

happyy_df = pd.read_sql_query(query, engine)
happyy_df

  country_name  avg_lifeladder
0      Finland        7.822087
1      Denmark        7.629774
2      Iceland        7.538776
3  Switzerland        7.502502
4  Netherlands        7.433186
5       Norway        7.423351
6       Sweden        7.362662
7       Israel        7.272490
8  New Zealand        7.259345
9   Luxembourg        7.236009

In [72]:
#What are the 10 countries with the lowest average life ladder score in the past 5 years?

query = """
SELECT country_name, AVG(`Life Ladder`) AS avg_lifeladder
FROM report
WHERE year BETWEEN 2017 AND 2021
GROUP BY country_name
ORDER BY avg_lifeladder ASC
LIMIT 10;
"""

sad_df = pd.read_sql_query(query, engine)
sad_df

               country_name  avg_lifeladder
0               Afghanistan        2.577038
1                     Yemen        3.057514
2                  Zimbabwe        3.252537
3                    Rwanda        3.312524
4  Central African Republic        3.475862
5                  Botswana        3.479111
6                    Malawi        3.563976
7                  Tanzania        3.579710
8                   Lesotho        3.653541
9                     Haiti        3.719397

# Linear Regression

In [ ]:
Next I am goin to run a linear agression to determine which factors influence happiness the most

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [70]:
# Load data
query = """
SELECT *
FROM report
WHERE year BETWEEN 2017 AND 2021;
"""

data = pd.read_sql_query(query, engine)

# Split data into features and target
X = data.drop(['Life Ladder', 'country_name', 'Year', 'Healthy life expectancy at birth' ], axis=1)
y = data['Life Ladder']

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Fit linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Get coefficients and their absolute values
coef_df = pd.DataFrame({'feature': X_train.columns, 'Coefficient': model.coef_, 'Absolute Coefficent': abs(model.coef_)})

# Sort coefficients by their absolute values in descending order
coef_df = coef_df.sort_values('Absolute Coefficent', ascending=False)

coef_df.columns = ["Happiness Influencers"] + list(coef_df.columns[1:])

coef_df = coef_df.reset_index(drop=True)

coef_df

               Happiness Influencers  Coefficient  Absolute Coefficent
0                     Social support     3.037560             3.037560
1       Freedom to make life choices     2.000758             2.000758
2          Perceptions of corruption    -1.429498             1.429498
3                    Positive affect     1.332152             1.332152
4                    Negative affect     1.332008             1.332008
5  Confidence in national government    -1.076532             1.076532
6                 Log GDP per capita     0.377525             0.377525
7                         Generosity     0.331140             0.331140

We can see the strongest influence on happiness is social support, one unit increase in social support creates a 3 unit increase in happiness. The next strongest influence on happiness is freedom to make life choices, one unit increase in freedom to make life choices creates a 2 unit increase in happiness. The strongest negative influence on happiness is Perceptions of corruption, a 1 unit increase in perception of corruption decreases happiness by 1.5 units.

# Sentiment Analysis

Next I am going to do sentmient analysis to explore if there is correlation between the sentiment of the news and the happiness score of that country. In order to get a more accuraet sentiment socre, I am limting my search to english speaking countries

In [96]:
import requests
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [110]:
# News API key
api_key = "59260be578a64d0bbf3504481080d3c5"

# Countries to analyze
countries = {
    "United Kingdom": "gb",
    "Ireland": "ie",
    "United States": "us",
    "Australia": "au",
    "New Zealand": "nz",
    "Canada": "ca"
}

# Initialize the Vader Sentiment Analyzer
sia = SentimentIntensityAnalyzer()

# List to store the sentiment scores for each country
sentiments = []

# Loop through the countries
for country, code in countries.items():
    # Construct the NewsAPI URL
    url = f"https://newsapi.org/v2/top-headlines?country={code}&apiKey={api_key}"

    # Send a request to the API
    response = requests.get(url)

    # Get the articles from the response JSON
    articles = response.json()["articles"]

    # Calculate the sentiment score for each article and store it in a list
    article_sentiments = [sia.polarity_scores(article["title"])["compound"] for article in articles]

    # Calculate the average sentiment score for the country
    avg_sentiment = sum(article_sentiments) / len(article_sentiments)

    # Add the average sentiment score to the list of sentiments
    sentiments.append({"Country": country, "Average Sentiment": avg_sentiment})

# Create a Pandas DataFrame from the list of sentiments
news_df = pd.DataFrame(sentiments)

news_df

          Country  Average Sentiment
0  United Kingdom          -0.135855
1         Ireland          -0.052100
2   United States           0.051840
3       Australia          -0.072230
4     New Zealand          -0.046595
5          Canada          -0.077845

In [138]:
# I am exporting my sentiment analysis to a CSV file so that i dont need to run the API request again
news_df.to_csv(r'/Users/tom/news_df.csv')

In [123]:
#Here I am runing a query to select just the english speaking countries and their happiness score

query = """
SELECT country_name, AVG(`Life Ladder`) AS `Average Life Ladder`
FROM report
WHERE country_name IN ('Australia', 'Canada', 'Ireland', 'New Zealand', 'United Kingdom', 'United States')
GROUP BY country_name
ORDER BY `Average Life Ladder` ASC
"""

english_df = pd.read_sql_query(query, engine)
english_df

     country_name  Average Life Ladder
0  United Kingdom             6.909952
1   United States             7.044048
2         Ireland             7.051758
3       Australia             7.265661
4     New Zealand             7.298731
5          Canada             7.340165

In [165]:
sentiment_df = pd.read_csv('news_df.csv', index_col = [0])
sentiment_df

          Country  Average Sentiment
0  United Kingdom          -0.135855
1         Ireland          -0.052100
2   United States           0.051840
3       Australia          -0.072230
4     New Zealand          -0.046595
5          Canada          -0.077845

Next i will merge the dataframes so that i can calculate the correlation.

In [163]:
merged_df = pd.merge(sentiment_df, english_df, left_on="Country", right_on="country_name", how="inner")[["Country", "Average Sentiment", "Average Life Ladder"]]
merged_df

          Country  Average Sentiment  Average Life Ladder
0  United Kingdom          -0.135855             6.909952
1         Ireland          -0.052100             7.051758
2   United States           0.051840             7.044048
3       Australia          -0.072230             7.265661
4     New Zealand          -0.046595             7.298731
5          Canada          -0.077845             7.340165

In [164]:
corr = merged_df['Average Sentiment'].corr(merged_df['Average Life Ladder'])
print(f"Correlation between Average Sentiment and Average Life Ladder: {corr}")

Correlation between Average Sentiment and Average Life Ladder: 0.05116645524972745

We can see that there is a weak correlation.
I wanted to analyse more countries to get a larger dataset but i ran out of API requests.
At the bottom of this notebook are a lot of other requests that I did for sentiment analysis, however I have used all of my requests for the News API!

Next I am going to create 2 CSV files that I can use to work with in Tableau.
One which only includes the countries where I have all the data from 2017-2021, and another one with all of the data.

In [169]:
#Where I have all the data from 2017-2021

df1 = pd.read_sql_query("""
SELECT *  
FROM
	(SELECT *
	FROM report
	where country_name in
	 (
		  SELECT country_name
			  FROM report
			  WHERE year IN (2017, 2018, 2019, 2020, 2021)
			  GROUP BY country_name
			  HAVING COUNT(DISTINCT year) = 5
		)) as ola
        
        WHERE year IN (2017, 2018, 2019, 2020, 2021);
""", engine)

df1.to_csv('happinessproject.csv')

In [170]:
#All the data
df_all = pd.read_sql_query("SELECT * FROM report", engine)
df_all.to_csv('happinessproject_all.csv')

Additonal sentiment analysis queries:

In [136]:
# countries = {'Albania': 'al', 'Argentina': 'ar', 'Australia': 'au', 'Austria': 'at', 'Benin': 'bj',
#              'Bolivia': 'bo', 'Bosnia and Herzegovina': 'ba', 'Brazil': 'br', 'Bulgaria': 'bg', 'Burkina Faso': 'bf',
#              'Cameroon': 'cm', 'Canada': 'ca', 'Chile': 'cl', 'Colombia': 'co', 'Congo (Brazzaville)': 'cg',
#              'Costa Rica': 'cr', 'Croatia': 'hr', 'Denmark': 'dk', 'Dominican Republic': 'do', 'Ecuador': 'ec',
#              'El Salvador': 'sv', 'Estonia': 'ee', 'Finland': 'fi', 'France': 'fr', 'Gabon': 'ga', 'Georgia': 'ge',
#              'Germany': 'de', 'Ghana': 'gh', 'Greece': 'gr', 'Hungary': 'hu', 'India': 'in', 'Indonesia': 'id',
#              'Ireland': 'ie', 'Israel': 'il', 'Italy': 'it', 'Ivory Coast': 'ci', 'Japan': 'jp', 'Kazakhstan': 'kz',
#              'Kenya': 'ke', 'Kyrgyzstan': 'kg', 'Latvia': 'lv', 'Lebanon': 'lb', 'Lithuania': 'lt', 'Mali': 'ml',
#              'Mauritius': 'mu', 'Mexico': 'mx', 'Moldova': 'md', 'Mongolia': 'mn', 'Myanmar': 'mm', 'Namibia': 'na',
#              'Nepal': 'np', 'Netherlands': 'nl', 'New Zealand': 'nz', 'Nicaragua': 'ni', 'Nigeria': 'ng',
#              'North Macedonia': 'mk', 'Norway': 'no', 'Peru': 'pe', 'Philippines': 'ph', 'Poland': 'pl',
#              'Portugal': 'pt', 'Romania': 'ro', 'Russia': 'ru', 'Senegal': 'sn', 'Serbia': 'rs', 'Slovakia': 'sk',
#              'Slovenia': 'si', 'South Africa': 'za', 'South Korea': 'kr', 'Spain': 'es', 'Sri Lanka': 'lk',
#              'Sweden': 'se', 'Switzerland': 'ch', 'Tanzania': 'tz', 'Thailand': 'th', 'Tunisia': 'tn', 'Turkey': 'tr',
#              'Uganda': 'ug', 'Ukraine': 'ua', 'United Kingdom': 'gb', 'United States': 'us', 'Uruguay': 'uy',
#              'Uzbekistan': 'uz', 'Zambia': 'zm', 'Zimbabwe': 'zw'}

In [166]:
# import requests
# import pandas as pd
# from nltk.sentiment.vader import SentimentIntensityAnalyzer

# # News API key
# api_key = "59260be578a64d0bbf3504481080d3c5"

# # Countries to analyze
# countries = countries

# # Initialize the Vader Sentiment Analyzer
# sia = SentimentIntensityAnalyzer()

# # List to store the sentiment scores for each country
# sentiments = []

# # Loop through the countries
# for country, code in countries.items():
#     # Construct the NewsAPI URL
#     url = f"https://newsapi.org/v2/top-headlines?country={code}&apiKey={api_key}"

#     # Send a request to the API
#     response = requests.get(url)

#     # Get the articles from the response JSON
#     articles = response.json()["articles"]

#     if len(articles) > 0:
#         # Calculate the sentiment score for each article and store it in a list
#         article_sentiments = [sia.polarity_scores(article["title"])["compound"] for article in articles]

#         # Calculate the average sentiment score for the country
#         avg_sentiment = sum(article_sentiments) / len(article_sentiments)

#         # Add the average sentiment score to the list of sentiments
#         sentiments.append({"Country": country, "Average Sentiment": avg_sentiment})

        
#         # Create a Pandas DataFrame from the list of sentiments
# globalsentiment_df = pd.DataFrame(sentiments)

# # Print the DataFrame
# print(globalsentiment_df)

In [ ]:
# import requests
# import pandas as pd
# from nltk.sentiment.vader import SentimentIntensityAnalyzer

# # News API key
# api_key = "59260be578a64d0bbf3504481080d3c5"

# # Countries to analyze
# countries = countries

# # Initialize the Vader Sentiment Analyzer
# sia = SentimentIntensityAnalyzer()

# # List to store the sentiment scores for each country
# sentiments = []

# # Loop through the countries
# for country, code in countries.items():
#     # Construct the NewsAPI URL
#     url = f"https://newsapi.org/v2/top-headlines?country={code}&apiKey={api_key}"

#     # Send a request to the API
#     response = requests.get(url)

#     # Get the articles from the response JSON
#     articles = response.json()["articles"]

#     # Calculate the sentiment score for each article and store it in a list
#     article_sentiments = [sia.polarity_scores(article["title"])["compound"] for article in articles]

#     # Calculate the average sentiment score for the country
#     avg_sentiment = sum(article_sentiments) / len(article_sentiments)

#     # Add the average sentiment score to the list of sentiments
#     sentiments.append({"Country": country, "Average Sentiment": avg_sentiment})

In [ ]:

#     # Print headlines and sentiment analysis results
#     print(f"Headlines for {data['articles'][0]['source']['country']}:\n")
#     for article in data['articles']:
#         headline = article['title']
#         score = sia.polarity_scores(headline)['compound']
#         print(f"{headline} (Sentiment score: {score})\n")

In [124]:
# import pandas as pd
# from textblob import TextBlob
# import requests
# import nltk
# nltk.download('punkt')

In [ ]:
# # Set up News API
# api_key = "59260be578a64d0bbf3504481080d3c5"
# url_us = f"https://newsapi.org/v2/top-headlines?country=us&apiKey={api_key}"
# url_uk = f"https://newsapi.org/v2/top-headlines?country=gb&apiKey={api_key}"
# url_ca = f"https://newsapi.org/v2/top-headlines?country=ca&apiKey={api_key}"
# url_au = f"https://newsapi.org/v2/top-headlines?country=au&apiKey={api_key}"
# url_nz = f"https://newsapi.org/v2/top-headlines?country=nz&apiKey={api_key}"

# # Set up TextBlob
# def get_sentiment(text):
#     return TextBlob(text).sentiment.polarity

# # Get articles from each country and store in list
# articles = []
# for url in [url_us, url_uk, url_ca, url_au, url_nz]:
#     response = requests.get(url)
#     articles_json = response.json()["articles"]
#     articles.extend([{"Country": url.split("=")[-1], "Text": article["content"]} for article in articles_json])

# # Calculate sentiment for each article and store in dataframe
# df = pd.DataFrame(articles)
# df["Sentiment"] = df["Text"].apply(get_sentiment)

# # Calculate average sentiment for each country and sort by sentiment
# df_avg_sentiment = df.groupby("Country")["Sentiment"].mean().reset_index(name="Average Sentiment")
# df_avg_sentiment = df_avg_sentiment.sort_values(by="Average Sentiment", ascending=False)

# print(df_avg_sentiment)

In [125]:
# # Set up News API
# api_key = "59260be578a64d0bbf3504481080d3c5"
# url_us = f"https://newsapi.org/v2/top-headlines?country=us&apiKey={api_key}"
# url_uk = f"https://newsapi.org/v2/top-headlines?country=gb&apiKey={api_key}"
# url_ca = f"https://newsapi.org/v2/top-headlines?country=ca&apiKey={api_key}"
# url_au = f"https://newsapi.org/v2/top-headlines?country=au&apiKey={api_key}"
# url_nz = f"https://newsapi.org/v2/top-headlines?country=nz&apiKey={api_key}"

# # Set up TextBlob
# def get_sentiment(text):
#     return TextBlob(text).sentiment.polarity

# # Get articles from each country and store in list
# articles = []
# for url in [url_us, url_uk, url_ca, url_au, url_nz]:
#     response = requests.get(url)
#     articles_json = response.json()["articles"]
#     articles.extend([{"Country": url.split("=")[-1], "Text": article["content"]} for article in articles_json])

# # Calculate sentiment for each article and store in dataframe
# df = pd.DataFrame(articles)
# df["Sentiment"] = df["Text"].apply(get_sentiment)

# # Calculate average sentiment for each country and sort by sentiment
# df_avg_sentiment = df.groupby("Country")["Sentiment"].mean().reset_index(name="Average Sentiment")
# df_avg_sentiment = df_avg_sentiment.sort_values(by="Average Sentiment", ascending=False)

# print(df_avg_sentiment)

In [ ]:
# import requests
# import json
# import nltk
# from nltk.sentiment.vader import SentimentIntensityAnalyzer

# # API Key and URLs
# api_key = "59260be578a64d0bbf3504481080d3c5"
# uk_url = f"https://newsapi.org/v2/top-headlines?country=gb&apiKey={api_key}"
# us_url = f"https://newsapi.org/v2/top-headlines?country=us&apiKey={api_key}"
# au_url = f"https://newsapi.org/v2/top-headlines?country=au&apiKey={api_key}"
# nz_url = f"https://newsapi.org/v2/top-headlines?country=nz&apiKey={api_key}"
# ca_url = f"https://newsapi.org/v2/top-headlines?country=ca&apiKey={api_key}"

# # Requesting news data from NewsAPI
# uk_response = requests.get(uk_url)
# us_response = requests.get(us_url)
# au_response = requests.get(au_url)
# nz_response = requests.get(nz_url)
# ca_response = requests.get(ca_url)

# # Parsing JSON response
# uk_articles = uk_response.json()['articles']
# us_articles = us_response.json()['articles']
# au_articles = au_response.json()['articles']
# nz_articles = nz_response.json()['articles']
# ca_articles = ca_response.json()['articles']

In [ ]:
# # Analyzing sentiment for each country's articles
# for country, articles in [("UK", uk_articles), ("US", us_articles), ("Australia", au_articles), ("New Zealand", nz_articles), ("Canada", ca_articles)]:
#     print(f"Sentiment analysis for {country}:")
#     for article in articles:
#         title = article['title']
#         description = article['description']
#         text = f"{title}. {description}"
#         sentiment = sia.polarity_scores(text)
#         print(f"{text} Sentiment Scores: {sentiment}")

In [ ]:
# import requests
# from nltk.sentiment.vader import SentimentIntensityAnalyzer

# # Initialize SentimentIntensityAnalyzer
# sia = SentimentIntensityAnalyzer()

# # Define list of country codes
# countries = ['gb', 'us', 'au', 'nz', 'ca']

# # Define API key and base URL
# api_key = "59260be578a64d0bbf3504481080d3c5"
# base_url = "https://newsapi.org/v2/top-headlines"

# # Loop through countries and retrieve top headlines
# for country in countries:
#     # Define URL with country code and API key
#     url = f"{base_url}?country={country}&apiKey={api_key}"
    
#     # Send request and retrieve response
#     response = requests.get(url)
    
#     # Parse JSON response
#     data = response.json()

In [ ]:

#     # Analyze the sentiment of each article
#     for article in articles:
#         title = article["title"]
#         description = article["description"]

#         # Calculate the sentiment scores
#         sentiment_scores = sia.polarity_scores(title + " " + description)
#         compound_score = sentiment_scores["compound"]

#         # Print the results
#         print(f"Title: {title}")
#         print(f"Description: {description}")
#         print(f"Compound score: {compound_score:.2f}")
#         print("-" * 50)

In [ ]:
# import requests
# import nltk
# from nltk.sentiment import SentimentIntensityAnalyzer

# # API key for News API
# api_key = "59260be578a64d0bbf3504481080d3c5"

# # List of country codes for sentiment analysis
# countries = ["gb", "us", "au", "nz", "ca"]

# # Initialize the sentiment analyzer
# sia = SentimentIntensityAnalyzer()

# # Analyze news articles for each country
# for country in countries:
#     # Construct the request URL
#     url = f"https://newsapi.org/v2/top-headlines?country={country}&apiKey={api_key}"

#     # Send the request to News API
#     response = requests.get(url)

#     # Get the articles from the response JSON
#     articles = response.json()["articles"]